<h2 class="alert alert-danger">Todo</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
       <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>
  
</div>

<h2 class="alert alert-danger">Student</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
       <app-student-form></app-student-form>
    </div>
    <div class="col-md-6">
      <app-student-table></app-student-table>
    </div>
  </div> 
</div>

<h2 class="alert alert-danger">Product</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
       <app-product-form></app-product-form>
    </div>
    <div class="row">
    <div class="col-md-12">
      <app-product-card></app-product-card>
    </div>
    </div>
  </div> 
</div>

<h2 class="alert alert-danger">Post</h2>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
       <app-post-form></app-post-form>
    </div>
    <div class="row">
    <div class="col-md-12">
      <app-post-card></app-post-card>
    </div>
    </div>
  </div> 
</div>